#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--padding-primary-200) var(--padding-primary-800);
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  z-index: 1000;
}

#header.hasBackground {
  background: linear-gradient(to right, #000428d7, #004e92d6);
  backdrop-filter: blur(5px);
}

#header .logo {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-weight: var(--font-weight-600);
  color: var(--color-primary);
}

.logoText {
  font-size: var(--font-size-350);
  letter-spacing: 1px;
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.listItem {
  color: var(--color-primary);
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-500);
  transition: filter 0.2s ease-in-out;
}

.listItem:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.listItem:hover,
.listItem:focus-visible {
  filter: brightness(1.2);
  border-bottom: 2px solid #f7b42c;
}

.menuButton {
  display: none;
  background-color: transparent;
  padding: var(--padding-secondary-200);
  z-index: 100;
}

.logoutButton {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-danger-600);
  color: var(--color-neutral-100);
  padding: var(--padding-secondary-200);
  z-index: 100;
}

@media screen and (max-width: 850px) {
  #header {
    padding: var(--padding-secondary-500);
  }

  .logoText {
    font-size: var(--font-size-200);
  }

  .nav {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: var(--padding-primary-500);
    background: linear-gradient(to right, #000428, #004e92);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
  }

  .nav.open {
    opacity: 1;
    pointer-events: all;
  }

  .list {
    flex-direction: column;
    gap: 10px;
  }

  .listItem {
    font-size: var(--font-size-600);
  }

  .menuButton {
    display: block;
  }
}
