.HeroSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: var(--padding-primary-800);
}

.sectionTitle {
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-700);
  color: var(--color-neutral-100);
  margin-bottom: 1rem;
}

.nav {
  width: 100%;
  max-width: fit-content;
  background-color: var(--color-danger-200);
  padding: var(--padding-secondary-400) var(--padding-secondary-500);
  border-radius: 100px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  overflow-x: auto;
}

/* style scrollbar */
.nav::-webkit-scrollbar {
  height: 5px;
}

.nav::-webkit-scrollbar-track {
  background-color: var(--color-danger-hoer-200);
}

.nav::-webkit-scrollbar-thumb {
  background-color: var(--color-danger-hover-200);
  border-radius: 100px;
}

.nav::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-danger-400);
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 650px;
}

.listItem {
  color: var(--color-neutral-200);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-500);
  border-radius: 100px;
  background-color: var(--color-neutral-hover-200);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.02);
  transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.listButton {
  all: unset;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--padding-secondary-200) var(--padding-secondary-500);
  cursor: pointer;
}

.listButton .icon {
  width: 25px;
  height: 25px;
  color: var(--color-danger-300);
}

.listItem.active {
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-100);
}

.listItem:hover,
.listItem:focus-visible {
  filter: brightness(1.1);
}

.search {
  width: 100%;
  max-width: 1000px;
  position: relative;
}

.searchInput {
  width: 100%;
  padding: var(--padding-secondary-600) var(--padding-secondary-700);
  border-radius: 100px;
  background-color: var(--color-neutral-200);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.02);
  color: var(--color-neutral-700);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-500);
  transition: outline 0.2s ease-in-out;
}

.searchInput::placeholder {
  color: var(--color-neutral-400);
}

.searchInput:focus {
  outline: 2px solid var(--color-danger-300);
}

.searchButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: var(--padding-secondary-500) var(--padding-secondary-700)
    var(--padding-secondary-500) var(--padding-secondary-600);
  border-radius: 0 100px 100px 0;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-neutral-200) 90%
  );
  color: var(--color-neutral-700);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-500);
  transition: background-color 0.2s ease-in-out;
}

.searchButton:hover,
.searchButton:focus-visible {
  background-color: var(--color-danger-100);
}

.searchButton .icon {
  width: 30px;
  height: 30px;
  color: var(--color-danger-400);
}

/* Results */
.resultsWrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: var(--margin-primary-700);
  padding: var(--padding-primary-600);
  background-color: var(--color-danger-200);
  border-radius: var(--border-radius-300);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}

.resultsWrapper h2 {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-600);
  color: var(--color-neutral-100);
  margin-bottom: var(--margin-primary-400);
  padding: var(--padding-secondary-200) var(--padding-secondary-500);
}

.resultContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: var(--padding-secondary-400) var(--padding-secondary-500);
  border-radius: var(--border-radius-300);
  background-color: var(--color-danger-300);
}

.resultTitle {
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-600);
  color: var(--color-neutral-200);
}

.resultButton {
  all: unset;
  padding: var(--padding-secondary-200) var(--padding-secondary-500);
  border-radius: 100px;
  background-color: var(--color-danger-200);
  color: var(--color-neutral-200);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-500);
  border: 3px solid var(--color-neutral-hover-200);
  transition: filter 0.2s ease-in-out, border 0.2s ease-in-out;
  cursor: pointer;
}

.resultButton:hover,
.resultButton:focus-visible {
  filter: brightness(1.1);
  border: 3px solid var(--color-neutral-hover-400);
}

/* Responivness */
@media screen and (max-width: 768px) {
  .HeroSectionWrapper {
    padding: var(--padding-primary-500);
  }

  .resultsWrapper {
    padding: var(--padding-primary-500);
  }
}

@media screen and (max-width: 500px) {
  .HeroSectionWrapper {
    padding: var(--padding-secondary-100);
  }

  .sectionTitle {
    font-size: var(--font-size-500);
  }

  .nav {
    padding: var(--padding-secondary-300) var(--padding-secondary-400)
      var(--padding-secondary-200);
  }

  .searchInput {
    width: 100%;
    padding: var(--padding-secondary-500) var(--padding-secondary-700);
  }

  .searchButton {
    padding: var(--padding-secondary-400) var(--padding-secondary-700)
      var(--padding-secondary-400) var(--padding-secondary-600);
  }

  .resultsWrapper {
    padding: var(--padding-secondary-600) var(--padding-secondary-300);
  }

  .resultButton {
    font-size: var(--font-size-100);
    padding: var(--padding-secondary-200) var(--padding-secondary-400);
  }
}
