/* contactMain */
.contactMain {
  background: url("/images/forest.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* Join Us */
.contactMain .join {
  padding: 100px 0px;
}

.customHeading {
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  margin-bottom: 30px;
}
.customHeading::before {
  content: "";
  width: 14px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  background: var(--color-danger-600);
}

.contactMain .join .joinWrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  background-color: rgb(22, 22, 22);
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
}

.contactMain .join .joinWrapper p + p {
  color: white;
  width: 60%;
  text-align: center;
  display: inline-block;
}

.contactMain .join .joinWrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.contactMain .join .joinWrapper form label {
  width: 100%;
  max-width: 400px;
  margin: 10px 0px;
}

.contactMain .join .joinWrapper form label input {
  width: 100%;
  padding: 10px 0px 10px 10px;
  border-radius: 30px;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: #041724;
  font-size: 1rem;
  box-shadow: none;
  transition: all 0.3s ease;
}

.contactMain .join .joinWrapper form label input:last-child {
  padding: 10px;
}

.contactMain
  .join
  .joinWrapper
  form
  label
  input:last-child::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.contactMain .join .joinWrapper form label input:focus {
  box-shadow: inset 0 0 15px 2px black;
  transition: all 0.3s ease;
}

.contactMain .join .joinWrapper form .submit {
  position: relative;
  overflow: hidden;
  padding: 15px 50px;
  background-color: #04172477;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s linear;
}

.contactMain .join .joinWrapper form .submit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 50px;
  background-color: rgba(219, 189, 91, 0.2);
  transform: rotate(-18deg) translate(-5px, -32px);
  transition: all 0.3s linear;
}

.contactMain .join .joinWrapper form .submit:hover,
.contactMain .join .joinWrapper form .submit:focus {
  transform: scale(0.97);
  transition: transform 0.1s linear;
}

.contactMain .join .joinWrapper form .submit:hover::before,
.contactMain .join .joinWrapper form .submit:focus::before {
  transition: height 0.3s linear;
  height: 150px;
}

/* contactEnd */
.contactMain .contactEnd {
  padding-top: 100px;
}

.contactMain .contactEnd .line {
  margin: -50px auto 100px auto;
  width: 100px;
  border-top: 2px solid rgba(0, 0, 0, 0.699);
  border-style: solid;
}

.contactMain .contactEnd .contacts {
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contactMain .contactEnd .contacts .contactCard {
  flex-basis: clamp(300px, 33%, 400px);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 2px;
}

.contactMain .contactEnd .contacts .contactCard .circle {
  background-color: #28334aff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.contactMain .contactEnd .contacts .contactCard .circle i {
  color: white;
  font-size: 2rem;
}

.paperPlane {
  color: white;
  font-size: 2.2rem;
}

.locationDot {
  color: white;
  font-size: 2.2rem;
}

.mobileAlt {
  color: white;
  font-size: 2.2rem;
}

.contactMain .contactEnd .contacts .contactCard h4 {
  margin: 15px 0px;
}
