.login {
  padding: 110px 0 100px 0;
  background: url("/images/login.jpg") no-repeat;
  background-size: cover;
}
.register {
  padding: 110px 0 100px 0;
  background: url("/images/register.jpg") no-repeat;
  background-size: cover;
}

.formWrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: var(--padding-secondary-500);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-400);
}

.formTitle {
  text-align: center;
}

.form {
  margin-top: var(--margin-secondary-600);
}

.formInput {
  display: flex;
  margin-bottom: var(--margin-secondary-200);
  padding: var(--padding-secondary-500);
  border-radius: var(--border-radius-200);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  width: 100%;
}

.formInput::placeholder {
  color: var(--color-neutral-hover-800);
}

.formButton {
  margin: var(--margin-secondary-600) auto var(--margin-secondary-800);
  width: 100%;
  text-align: center;
  padding: var(--padding-secondary-200) var(--padding-secondary-400);
  background-color: var(--color-neutral-100);
  border-radius: var(--border-radius-200);
  color: var(--color-neutral-700);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-150);
  transition: background-color 0.2s ease-in-out;
}

.formButton:hover,
.formButton:focus-visible {
  background-color: var(--color-primary-100);
}

.formText {
  text-align: center;
  font-size: var(--font-size-150);
}

.formText a {
  color: var(--color-primary-100);
}
